<mat-card class="page-card">
  <h2>{{ isEdit ? 'Modifier' : 'Ajouter' }} un étudiant</h2>
  <form [formGroup]="form" (ngSubmit)="save()" class="filters">
    <mat-form-field><mat-label>Nom</mat-label><input matInput formControlName="lastName"><mat-error>Nom requis</mat-error></mat-form-field>
    <mat-form-field><mat-label>Prénom</mat-label><input matInput formControlName="firstName"><mat-error>Prénom requis</mat-error></mat-form-field>
    <mat-form-field><mat-label>Date de naissance</mat-label><input matInput type="date" formControlName="birthDate"></mat-form-field>
    <mat-form-field><mat-label>Email</mat-label><input matInput formControlName="email"><mat-error>Email invalide</mat-error></mat-form-field>
    <mat-form-field><mat-label>Téléphone</mat-label><input matInput formControlName="phone"><mat-error>Téléphone invalide</mat-error></mat-form-field>
    <mat-form-field><mat-label>Adresse</mat-label><input matInput formControlName="address"></mat-form-field>
    <mat-form-field><mat-label>Classe</mat-label><mat-select formControlName="classId">@for (c of classes; track c.id){<mat-option [value]="c.id">{{ c.name }}</mat-option>}</mat-select></mat-form-field>
    <mat-form-field><mat-label>Filière</mat-label><mat-select formControlName="departmentId">@for (d of departments; track d.id){<mat-option [value]="d.id">{{ d.name }}</mat-option>}</mat-select></mat-form-field>
    <mat-form-field><mat-label>Date inscription</mat-label><input matInput type="date" formControlName="enrollmentDate"></mat-form-field>
    <mat-form-field><mat-label>Statut</mat-label><mat-select formControlName="status"><mat-option value="actif">Actif</mat-option><mat-option value="suspendu">Suspendu</mat-option><mat-option value="diplome">Diplômé</mat-option></mat-select></mat-form-field>
    <mat-form-field><mat-label>Photo URL</mat-label><input matInput formControlName="photoUrl"></mat-form-field>
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  </form>
</mat-card>
